{{#expect collections}}
    <div class="home">
      <ul class="post-list">
        {{#each collections.posts as post}}
        <li data-json-file="/static{{{ post.url.replace('.html', '.json') }}}">
          <h2>
            <a class="post-link" href="{{{ post.url }}}">{{{ post.title }}}</a>
          </h2>
          <span class="post-meta">{{{ post.date }}}</span>
          <p>{{{ post.excerpt }}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
    <script type="module">
      import {setupOfflineListeners} from '/static/index.js';

      setupOfflineListeners();
    </script>
