{{#expect assetManifest, content, page, site}}
    <div class="page-content" role="main">
      <div class="wrapper">
        <h1 class="post-header"><a href="">{{{ page.title }}}</a></h1>
        <p class="post-meta">{{{ page.date }}}</p>
        <div id="content">
          {{{ content }}}
        </div>
      </div>
    </div>
    <script type="module">
      import {setMetadata} from '{{{ assetManifest['page.js'] }}}';

      setMetadata({{{ JSON.stringify(site) }}}, {{{ JSON.stringify(page) }}});
    </script>

    {{#each (page.scripts || []) as scriptName}}
    <script src="{{{ assetManifest[scriptName] }}}"></script>
    {{/each}}
