{{#expect assetManifest, site}}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{ site.title }}}</title>
    <link rel="stylesheet" href="{{{ assetManifest['styles.css'] }}}">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="icon" sizes="192x192" href="{{{ site.logo }}}">
    <meta name="twitter:title" content="{{{ site.title }}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{{ site.description }}}">
    <meta name="twitter:image" content="{{{ site.url + site.logo }}}">
    <meta name="twitter:site" content="@{{{ site.twitter.username }}}">
    <meta name="theme-color" content="#00bcd4">
    <link rel="alternate" type="application/rss+xml" title="thirty-four" href="{{{ site.rssFeed }}}">
  </head>
  <body>
    <div class="site-header" role="banner">
      <a href="{{{ site.baseurl }}}">{{{ site.title }}}</a>
    </div>
